.wrapper {
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 50px;
}

.navbar-item {
    background-color: #fff;
    outline: none;
    padding: 10px 24px 8px;
    border-bottom: 2px solid transparent;
    &:hover {
        border-color: var(--primary);
    }
    cursor: pointer;
}

.active {
    border-bottom: 2px solid var(--primary);
    .title {
        color: rgb(44, 44, 44);
    }
}

.title {
    font-size: 1.4rem;
    color: rgb(153, 153, 153);
}

.post-list-container {
    height: calc(100vh - var(--default-layout-header-height) - 171px);
    max-height: calc(100vh - var(--default-layout-header-height) - 171px);
    overflow-y: auto;
    width: 100%;
    background-color: #f9f9f9;
    border-top: 1px solid #f2f2f2;
}

.post-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}

.no-post {
    font-size: 1.4rem;
    color: rgb(153, 153, 153);
    margin-top: 16px;
}

.btn-new-post {
    font-family: var(--font-family);
    height: 32px;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 12px;
    margin-top: 16px;
    background-color: rgb(224, 60, 49);
    color: rgb(255, 255, 255);
    opacity: 1;
    &:hover {
        opacity: 0.6;
    }
}
.post-item-wrapper {
    margin: 20px 50px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 4px;
}
.post-item-wrapper + .post-item-wrapper {
    margin-top: 20px;
}

.post-item {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.top {
    display: flex;
}
.image {
    display: flex;
    width: 200px;
    height: 108px;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.heading-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading {
    font-size: 1.4rem;
    color: var(--primary);
    line-height: 2.2rem;
}

.sub-heading {
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-family: Lexend;
}

.describe {
    display: flex;
    margin-top: 24px;
}

.status {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.status + .status {
    margin-left: 73px;
}

.title {
    font-size: 1.2rem;
    line-height: 2rem;
}

.text {
    font-size: 1.4rem;
    line-height: 2rem;
    color: rgb(80, 80, 80);
}

.text-status {
    font-size: 1.2rem;
    line-height: 2rem;
    color: #fff;
    background-color: var(--primary);
    padding: 0 8px;
    border-radius: 2px;
    text-align: center;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    width: 100%;
}

.left {
    display: flex;
    align-items: center;
    // height: 100%;
}

.checkbox {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.cb-text {
    font-size: 1.4rem;
    line-height: 2rem;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border: solid 1px #ccc;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: rgb(242, 242, 242);
    }
}

.button + .button {
    margin-left: 16px;
}
.icon {
    font-size: 1.4rem;
    height: 2rem;
    margin-right: 8px;
    color: rgb(80, 80, 80);
}

.text-control {
    font-size: 1.4rem;
    line-height: 2rem;
    color: rgb(80, 80, 80);
}

.select-all {
    padding: 0 50px;
    margin-top: 20px;
}
